/* font-family: 'Roboto', sans-serif; */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.main-header {
  margin-bottom: 80px;
  background-color: rgb(238, 238, 238);
  border: 1px solid transparent;
}

.main-header-wrapper {}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.main-navigation__logo-link {}

.main-navigation__logo {
  width: 160px;
  height: 65px;
}

.main-navigation__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  color: #000000;
  text-transform: uppercase;
  margin-left: 24px;
  margin-right: 24px;
}

.main-navigation__item:hover {
  color: rgb(251, 86, 90);
}

.main-navigation__item:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  color: #000000;
}

.main-navigation__link:hover {
  color: rgb(251, 86, 90);
}

.main-navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation__link--current {
  border-bottom: 2px solid rgb(251, 86, 90);
}

.shopping_cart {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shopping_cart__item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  color: #000000;
}

.shopping_cart__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  color: #000000;
}

.shopping_cart__link:hover {
  color: rgb(251, 86, 90);
}

.shopping_cart__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* header */
/* body */
.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  color: #000000;
  margin-top: 80px;
  margin-bottom: 115px;
  /* border-top: 1px solid inherit; */
}

.features {}

.features__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features__item {
  width: 300px;
  margin-right: 100px;
}

.features__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
}

.features__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #283136;
}

.features__item-order-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: #ffffff;
}

.product-filter-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-filter {
  width: 260px;
}

.sorting-form {}

.form-wrap {
  border: none;
  display: flex;
  margin-bottom: 50px;
}

.form-wrap label {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: rgb(40, 49, 54);
  margin-bottom: 15px;
}

.sorting-fort__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  color: #000000;
}

.sorting-form__grid {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #283136;
}

.sorting-form__features {}

.sorting-form__btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  text-align: center;
  color: #000000;
}

.production {
  width: 760px;
}

.production__title {}

.visually-hidden {}

.production-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.production-item {
  width: 360px;

}

.production-item__img {}

.production-item__popup {}

.production-item__title {}

.production-item__text {}

.production-item__link {}

.production-item__price {}

.pagination {
  display: flex;
  width: 100%;
}

.pagination__item {}

.pagination__link {}

.pagination__link--current {}

/* body */
/* footer */
.main-footer {
  display: flex;
}

.social-btn__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 140px;
}

.social-btn__item {}

.social-btn__link {}

.social-friendship {}

.social-friendship__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
}

.social-friendship__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #444444;
}

.modal {
  display: none;
}

/* s
s
s */
